.nb{
    &_container{
        position: fixed;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        background-color: dodgerblue;
        //overflow: hidden;
    }
    &_logo{
        justify-content: center;
        justify-items: center;
        width: fit-content;
        height: 50px;
    }
    &_link{
        li{
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    &_category{
        color: red;
        &:hover .menu_DD{
            color: black;
            display: block;
        }
    }
}

